<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
</head>
<body>
    <h1>Welcome <%= username %> to the Admin Panel</h1>
    
    <h2>User List:</h2>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <%= user.username %> (<%= user.isAdmin ? 'Admin' : 'User' %>)
                <div class="action-buttons">
                    <form method="post" action="/admin/edit-user">
                        <input type="hidden" name="usernameToEdit" value="<%= user.username %>">
                        <button type="submit">Edit</button>
                    </form>
                    <button onclick="confirmRemove('<%= user.username %>')">Remove</button>
                </div>
            </li>
        <% }); %>
    </ul>
    <h2>Add New User:</h2>
    <form method="post" action="/admin/add-user">
        <label for="newUsername">New User's Username:</label>
        <input type="text" id="newUsername" name="newUsername" required>
        <label for="newPassword">New User's Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Add User</button>
    </form>

    <a href="/logout">Logout</a>

    <script>
        function confirmRemove(username) {
            const isConfirmed = confirm(`Are you sure you want to remove the user '${username}'?`);
            if (isConfirmed) {
                document.querySelector(`form[action='/admin/remove-user'][value='${username}']`).submit();
            }
        }
    </script>
</body>
</html>
